In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import matplotlib.pyplot as plt
from pylab import figure, axes, pie, title, savefig
import time
import csv
import sys
import plotly.express as px

In [2]:
df = pd.read_csv("/Users/hamin/bithumb_bot_data/include/2018-new/2018-08-btc-krw.csv")

FileNotFoundError: [Errno 2] File /Users/hamin/bithumb_bot_data/include/2018-new/2018-08-btc-krw.csv does not exist: '/Users/hamin/bithumb_bot_data/include/2018-new/2018-08-btc-krw.csv'

In [ ]:
df.dtypes

In [ ]:
## converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

In [ ]:
## converting timestamp to detailed date column
df['timestamp_year_month_day']       = df['timestamp'].dt.date         # YYYY-MM-DD(문자)
df['timestamp_year']       = df['timestamp'].dt.year         # 연(4자리숫자)
df['timestamp_month']      = df['timestamp'].dt.month        # 월(숫자)
df['timestamp_month_name'] = df['timestamp'].dt.month_name() # 월(문자)

df['timestamp_day']        = df['timestamp'].dt.day          # 일(숫자)
df['timestamp_time']       = df['timestamp'].dt.time         # HH:MM:SS(문자)
df['timestamp_hour']       = df['timestamp'].dt.hour         # 시(숫자)
df['timestamp_minute']     = df['timestamp'].dt.minute       # 분(숫자)
df['timestamp_second']     = df['timestamp'].dt.second       # 초(숫자)

In [ ]:
df

In [ ]:
## creating 'day - amount' connection
group_day_amount = df['amount'].groupby(df['timestamp_year_month_day'])

In [ ]:
group_day_amount.size()

In [ ]:
group_day_amount

In [ ]:
## 일별 총 손익량
group_day_amount.sum()

In [ ]:
## creating 'day - earning amount' connection
df2 = df.copy()
df2 =df2[df2['amount'] > 0]
group_day_amount_positive = df2['amount'].groupby(df2['timestamp_year_month_day'])

In [ ]:
# 일별 수익 transaction 수
group_day_amount_positive.size()

In [ ]:
# 일별 수익량
group_day_amount_positive.sum()

In [ ]:
## creating 'day - loss amount' connection
df3 = df.copy()
df3 = df3[df3['amount'] < 0]
group_day_amount_negative = df3['amount'].groupby(df3['timestamp_year_month_day'])

In [3]:
# 일별 손해 transaction 수
group_day_amount_negative.size()

NameError: name 'group_day_amount_negative' is not defined

In [4]:
# 일별 손해량
group_day_amount_negative.sum()

NameError: name 'group_day_amount_negative' is not defined

In [5]:
# 일별 절대값 총합
absolute_negative_sum=group_day_amount_negative.sum()
absolute_negative_sum = absolute_negative_sum * (-1)
absolute_total_amout=absolute_negative_sum+group_day_amount_positive.sum()
absolute_total_amout

NameError: name 'group_day_amount_negative' is not defined

In [6]:
## 일별 계산 table 생성
dfs = [group_day_amount.size(), group_day_amount.sum(), group_day_amount_positive.size(), group_day_amount_positive.sum(), group_day_amount_negative.size(), group_day_amount_negative.sum(), absolute_total_amout, absolute_negative_sum]
dfs

NameError: name 'group_day_amount' is not defined

In [23]:
day_df_final = reduce(lambda left,right: pd.merge(left,right,on='timestamp_year_month_day'), dfs)
day_df_final.columns = [ "daily transaction", "daily income", "daily Yield transaction", "daily Yield", "daily loss transaction", "daily loss", "daily absolute amount", "daily absolute negative amount"]
day_df_final

,daily transaction,daily income,daily Yield transaction,daily Yield,daily loss transaction,daily loss,daily absolute amount,daily absolute negative amount
timestamp_year_month_day,,,,,,,,
2018-05-01,505,-17802234,302,717288802,203,-735091036,1452379838,735091036
2018-05-02,407,8295332,212,556368315,195,-548072983,1104441298,548072983
2018-05-03,527,10138584,291,853401686,236,-843263102,1696664788,843263102
2018-05-04,1002,545803,581,1812511408,421,-1811965605,3624477013,1811965605
2018-05-05,559,340552,321,955927119,238,-955586567,1911513686,955586567
2018-05-06,689,-15021496,447,1079537488,242,-1094558984,2174096472,1094558984
2018-05-07,1015,-9802781,720,1633907661,295,-1643710442,3277618103,1643710442
2018-05-08,1157,-4478454,796,2261280750,361,-2265759204,4527039954,2265759204
2018-05-09,1061,32020288,668,1790217680,393,-1758197392,3548415072,1758197392
2018-05-10,498,-15454910,289,918973913,209,-934428823,1853402736,934428823
2018-05-11,1106,15948021,710,1748230958,396,-1732282937,3480513895,1732282937
2018-05-12,1494,716218,950,1844350809,544,-1843634591,3687985400,1843634591
2018-05-13,1415,506235,916,1876379212,499,-1875872977,3752252189,1875872977
2018-05-14,1185,748015,714,2061334907,471,-2060586892,4121921799,2060586892
2018-05-15,1293,-642716,945,2460913560,348,-2461556276,4922469836,2461556276
2018-05-16,1284,-33671859,828,2052901506,456,-2086573365,4139474871,2086573365
2018-05-17,928,35135338,602,1546594426,326,-1511459088,3058053514,1511459088
2018-05-18,922,827709,649,1514323102,273,-1513495393,3027818495,1513495393
2018-05-19,573,722379,362,889631353,211,-888908974,1778540327,888908974
2018-05-20,506,-26828987,330,789460214,176,-816289201,1605749415,816289201
2018-05-21,624,28321486,395,954023745,229,-925702259,1879726004,925702259
2018-05-22,484,-23719995,351,833107084,133,-856827079,1689934163,856827079
2018-05-23,703,23599623,485,1147547739,218,-1123948116,2271495855,1123948116
2018-05-24,885,-12506828,500,1055529545,385,-1068036373,2123565918,1068036373
2018-05-25,487,12749313,294,681984676,193,-669235363,1351220039,669235363
2018-05-26,257,-13815553,172,261136899,85,-274952452,536089351,274952452
2018-05-27,222,3720588,138,237710205,84,-233989617,471699822,233989617
2018-05-28,311,-5858398,188,431632616,123,-437491014,869123630,437491014
2018-05-29,448,16548664,251,524002315,197,-507453651,1031455966,507453651
2018-05-30,378,187538,216,580552058,162,-580364520,1160916578,580364520
2018-05-31,370,531831,245,563514765,125,-562982934,1126497699,562982934

In [24]:
print(day_df_final.asfreq('D'))

                          daily transaction  daily income  \
timestamp_year_month_day
2018-05-01                              505     -17802234
2018-05-02                              407       8295332
2018-05-03                              527      10138584
2018-05-04                             1002        545803
2018-05-05                              559        340552
2018-05-06                              689     -15021496
2018-05-07                             1015      -9802781
2018-05-08                             1157      -4478454
2018-05-09                             1061      32020288
2018-05-10                              498     -15454910
2018-05-11                             1106      15948021
2018-05-12                             1494        716218
2018-05-13                             1415        506235
2018-05-14                             1185        748015
2018-05-15                             1293       -642716
2018-05-16                             1284     -33671859
2018-05-17                              928      35135338
2018-05-18                              922        827709
2018-05-19                              573        722379
2018-05-20                              506     -26828987
2018-05-21                              624      28321486
2018-05-22                              484     -23719995
2018-05-23                              703      23599623
2018-05-24                              885     -12506828
2018-05-25                              487      12749313
2018-05-26                              257     -13815553
2018-05-27                              222       3720588
2018-05-28                              311      -5858398
2018-05-29                              448      16548664
2018-05-30                              378        187538
2018-05-31                              370        531831

                          daily Yield transaction  daily Yield  \
timestamp_year_month_day
2018-05-01                                    302    717288802
2018-05-02                                    212    556368315
2018-05-03                                    291    853401686
2018-05-04                                    581   1812511408
2018-05-05                                    321    955927119
2018-05-06                                    447   1079537488
2018-05-07                                    720   1633907661
2018-05-08                                    796   2261280750
2018-05-09                                    668   1790217680
2018-05-10                                    289    918973913
2018-05-11                                    710   1748230958
2018-05-12                                    950   1844350809
2018-05-13                                    916   1876379212
2018-05-14                                    714   2061334907
2018-05-15                                    945   2460913560
2018-05-16                                    828   2052901506
2018-05-17                                    602   1546594426
2018-05-18                                    649   1514323102
2018-05-19                                    362    889631353
2018-05-20                                    330    789460214
2018-05-21                                    395    954023745
2018-05-22                                    351    833107084
2018-05-23                                    485   1147547739
2018-05-24                                    500   1055529545
2018-05-25                                    294    681984676
2018-05-26                                    172    261136899
2018-05-27                                    138    237710205
2018-05-28                                    188    431632616
2018-05-29                                    251    524002315
2018-05-30                                    216    580552058
2018-05-31                                    245    563514765

                          daily loss transaction  daily loss  \
timestamp_year_month_day
2018-05-01                                   203  -735091036
2018-05-02                                   195  -548072983
2018-05-03                                   236  -843263102
2018-05-04                                   421 -1811965605
2018-05-05                                   238  -955586567
2018-05-06                                   242 -1094558984
2018-05-07                                   295 -1643710442
2018-05-08                                   361 -2265759204
2018-05-09                                   393 -1758197392
2018-05-10                                   209  -934428823
2018-05-11                                   396 -1732282937
2018-05-12                                   544 -1843634591
2018-05-13                                   499 -1875872977
2018-05-14                                   471 -2060586892
2018-05-15                                   348 -2461556276
2018-05-16                                   456 -2086573365
2018-05-17                                   326 -1511459088
2018-05-18                                   273 -1513495393
2018-05-19                                   211  -888908974
2018-05-20                                   176  -816289201
2018-05-21                                   229  -925702259
2018-05-22                                   133  -856827079
2018-05-23                                   218 -1123948116
2018-05-24                                   385 -1068036373
2018-05-25                                   193  -669235363
2018-05-26                                    85  -274952452
2018-05-27                                    84  -233989617
2018-05-28                                   123  -437491014
2018-05-29                                   197  -507453651
2018-05-30                                   162  -580364520
2018-05-31                                   125  -562982934

                          daily absolute amount  \
timestamp_year_month_day
2018-05-01                           1452379838
2018-05-02                           1104441298
2018-05-03                           1696664788
2018-05-04                           3624477013
2018-05-05                           1911513686
2018-05-06                           2174096472
2018-05-07                           3277618103
2018-05-08                           4527039954
2018-05-09                           3548415072
2018-05-10                           1853402736
2018-05-11                           3480513895
2018-05-12                           3687985400
2018-05-13                           3752252189
2018-05-14                           4121921799
2018-05-15                           4922469836
2018-05-16                           4139474871
2018-05-17                           3058053514
2018-05-18                           3027818495
2018-05-19                           1778540327
2018-05-20                           1605749415
2018-05-21                           1879726004
2018-05-22                           1689934163
2018-05-23                           2271495855
2018-05-24                           2123565918
2018-05-25                           1351220039
2018-05-26                            536089351
2018-05-27                            471699822
2018-05-28                            869123630
2018-05-29                           1031455966
2018-05-30                           1160916578
2018-05-31                           1126497699

                          daily absolute negative amount
timestamp_year_month_day
2018-05-01                                     735091036
2018-05-02                                     548072983
2018-05-03                                     843263102
2018-05-04                                    1811965605
2018-05-05                                     955586567
2018-05-06                                    1094558984
2018-05-07                                    1643710442
2018-05-08                                    2265759204
2018-05-09                                    1758197392
2018-05-10                                     934428823
2018-05-11                                    1732282937
2018-05-12                                    1843634591
2018-05-13                                    1875872977
2018-05-14                                    2060586892
2018-05-15                                    2461556276
2018-05-16                                    2086573365
2018-05-17                                    1511459088
2018-05-18                                    1513495393
2018-05-19                                     888908974
2018-05-20                                     816289201
2018-05-21                                     925702259
2018-05-22                                     856827079
2018-05-23                                    1123948116
2018-05-24                                    1068036373
2018-05-25                                     669235363
2018-05-26                                     274952452
2018-05-27                                     233989617
2018-05-28                                     437491014
2018-05-29                                     507453651
2018-05-30                                     580364520
2018-05-31                                     562982934

In [25]:
day_df_final.to_csv("/Users/hamin/bithumb_bot_data/2018-08-daily_result_table.csv", header=True, index=True, encoding = 'utf-8')

In [28]:
# 뒤집기.
day_df_final[::-1].to_csv("/Users/hamin/bithumb_bot_data/2018-08-daily_result_table.csv", header=True, index=True, encoding = 'utf-8')

In [27]:
day_df_final

,daily transaction,daily income,daily Yield transaction,daily Yield,daily loss transaction,daily loss,daily absolute amount,daily absolute negative amount
timestamp_year_month_day,,,,,,,,
2018-05-01,505,-17802234,302,717288802,203,-735091036,1452379838,735091036
2018-05-02,407,8295332,212,556368315,195,-548072983,1104441298,548072983
2018-05-03,527,10138584,291,853401686,236,-843263102,1696664788,843263102
2018-05-04,1002,545803,581,1812511408,421,-1811965605,3624477013,1811965605
2018-05-05,559,340552,321,955927119,238,-955586567,1911513686,955586567
2018-05-06,689,-15021496,447,1079537488,242,-1094558984,2174096472,1094558984
2018-05-07,1015,-9802781,720,1633907661,295,-1643710442,3277618103,1643710442
2018-05-08,1157,-4478454,796,2261280750,361,-2265759204,4527039954,2265759204
2018-05-09,1061,32020288,668,1790217680,393,-1758197392,3548415072,1758197392
2018-05-10,498,-15454910,289,918973913,209,-934428823,1853402736,934428823
2018-05-11,1106,15948021,710,1748230958,396,-1732282937,3480513895,1732282937
2018-05-12,1494,716218,950,1844350809,544,-1843634591,3687985400,1843634591
2018-05-13,1415,506235,916,1876379212,499,-1875872977,3752252189,1875872977
2018-05-14,1185,748015,714,2061334907,471,-2060586892,4121921799,2060586892
2018-05-15,1293,-642716,945,2460913560,348,-2461556276,4922469836,2461556276
2018-05-16,1284,-33671859,828,2052901506,456,-2086573365,4139474871,2086573365
2018-05-17,928,35135338,602,1546594426,326,-1511459088,3058053514,1511459088
2018-05-18,922,827709,649,1514323102,273,-1513495393,3027818495,1513495393
2018-05-19,573,722379,362,889631353,211,-888908974,1778540327,888908974
2018-05-20,506,-26828987,330,789460214,176,-816289201,1605749415,816289201
2018-05-21,624,28321486,395,954023745,229,-925702259,1879726004,925702259
2018-05-22,484,-23719995,351,833107084,133,-856827079,1689934163,856827079
2018-05-23,703,23599623,485,1147547739,218,-1123948116,2271495855,1123948116
2018-05-24,885,-12506828,500,1055529545,385,-1068036373,2123565918,1068036373
2018-05-25,487,12749313,294,681984676,193,-669235363,1351220039,669235363
2018-05-26,257,-13815553,172,261136899,85,-274952452,536089351,274952452
2018-05-27,222,3720588,138,237710205,84,-233989617,471699822,233989617
2018-05-28,311,-5858398,188,431632616,123,-437491014,869123630,437491014
2018-05-29,448,16548664,251,524002315,197,-507453651,1031455966,507453651
2018-05-30,378,187538,216,580552058,162,-580364520,1160916578,580364520
2018-05-31,370,531831,245,563514765,125,-562982934,1126497699,562982934