In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import matplotlib.pyplot as plt
from pylab import figure, axes, pie, title, savefig
import time
import csv
import sys
import plotly.express as px

In [2]:
df = pd.read_csv("/Users/hamin/bithumb_bot_data/include/up-btc/upbit-2019-07-btc-krw.csv")

In [3]:
df.dtypes

timestamp     object
quantity     float64
price          int64
fee          float64
amount         int64
side           int64
dtype: object

In [4]:
## converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

timestamp    datetime64[ns]
quantity            float64
price                 int64
fee                 float64
amount                int64
side                  int64
dtype: object

In [5]:
## converting timestamp to detailed date column
df['timestamp_year_month_day']       = df['timestamp'].dt.date         # YYYY-MM-DD(문자)
df['timestamp_year']       = df['timestamp'].dt.year         # 연(4자리숫자)
df['timestamp_month']      = df['timestamp'].dt.month        # 월(숫자)
df['timestamp_month_name'] = df['timestamp'].dt.month_name() # 월(문자)

df['timestamp_day']        = df['timestamp'].dt.day          # 일(숫자)
df['timestamp_time']       = df['timestamp'].dt.time         # HH:MM:SS(문자)
df['timestamp_hour']       = df['timestamp'].dt.hour         # 시(숫자)
df['timestamp_minute']     = df['timestamp'].dt.minute       # 분(숫자)
df['timestamp_second']     = df['timestamp'].dt.second       # 초(숫자)

In [6]:
df

,timestamp,quantity,price,fee,amount,side,timestamp_year_month_day,timestamp_year,timestamp_month,timestamp_month_name,timestamp_day,timestamp_time,timestamp_hour,timestamp_minute,timestamp_second
0,2019-07-01 00:00:00,0.098600,13907000,685.61,-1371916,0,2019-07-01,2019,7,July,1,00:00:00,0,0,0
1,2019-07-01 00:00:00,1.412100,13913000,9823.27,-19656371,0,2019-07-01,2019,7,July,1,00:00:00,0,0,0
2,2019-07-01 00:17:00,0.014461,13830000,99.99,199899,1,2019-07-01,2019,7,July,1,00:17:00,0,17,0
3,2019-07-01 00:17:00,1.500000,13830000,10372.50,20734627,1,2019-07-01,2019,7,July,1,00:17:00,0,17,0
4,2019-07-01 00:17:00,0.042322,13830000,292.65,585020,1,2019-07-01,2019,7,July,1,00:17:00,0,17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19647,2019-07-29 09:00:00,0.280585,11341000,1591.05,3180526,1,2019-07-29,2019,7,July,29,09:00:00,9,0,0
19648,2019-07-29 09:00:00,0.252495,11341000,1431.77,2862118,1,2019-07-29,2019,7,July,29,09:00:00,9,0,0
19649,2019-07-29 09:00:00,0.227240,11341000,1288.56,2575839,1,2019-07-29,2019,7,July,29,09:00:00,9,0,0
19650,2019-07-29 09:00:00,0.044552,11341000,252.63,505016,1,2019-07-29,2019,7,July,29,09:00:00,9,0,0
19651,2019-07-29 09:00:00,0.195127,11341000,1106.46,2211829,1,2019-07-29,2019,7,July,29,09:00:00,9,0,0

In [7]:
## creating 'day - amount' connection
group_day_amount = df['amount'].groupby(df['timestamp_year_month_day'])

In [8]:
group_day_amount.size()

timestamp_year_month_day
2019-07-01     743
2019-07-02     694
2019-07-03    1205
2019-07-04    1180
2019-07-05    1060
2019-07-06     676
2019-07-07     463
2019-07-08     475
2019-07-09    1425
2019-07-10    1476
2019-07-11    1140
2019-07-12     239
2019-07-13     901
2019-07-14     779
2019-07-16     815
2019-07-17    1446
2019-07-18    2283
2019-07-19    1639
2019-07-21       1
2019-07-22     251
2019-07-23     197
2019-07-24       8
2019-07-25     192
2019-07-26      81
2019-07-27     150
2019-07-28      77
2019-07-29      56
Name: amount, dtype: int64

In [9]:
group_day_amount

In [10]:
## 일별 총 손익량
group_day_amount.sum()

timestamp_year_month_day
2019-07-01     6467028
2019-07-02    -2455719
2019-07-03    -3588531
2019-07-04   -11053149
2019-07-05    17139024
2019-07-06   -17752078
2019-07-07    -4098716
2019-07-08    23051033
2019-07-09   -29435082
2019-07-10    29485278
2019-07-11    -1782793
2019-07-12      -11570
2019-07-13   -24672249
2019-07-14    23657732
2019-07-16   -16835441
2019-07-17    15596481
2019-07-18      648004
2019-07-19     -992270
2019-07-21      -12831
2019-07-22    -2053385
2019-07-23     1716958
2019-07-24    -5812391
2019-07-25    -2887387
2019-07-26    -2272362
2019-07-27     -311848
2019-07-28    11300694
2019-07-29      375049
Name: amount, dtype: int64

In [11]:
## creating 'day - earning amount' connection
df2 = df.copy()
df2 =df2[df2['amount'] > 0]
group_day_amount_positive = df2['amount'].groupby(df2['timestamp_year_month_day'])

In [12]:
# 일별 수익 transaction 수
group_day_amount_positive.size()

timestamp_year_month_day
2019-07-01     526
2019-07-02     486
2019-07-03     588
2019-07-04     618
2019-07-05     610
2019-07-06     357
2019-07-07     261
2019-07-08     275
2019-07-09     796
2019-07-10     806
2019-07-11     634
2019-07-12     123
2019-07-13     532
2019-07-14     467
2019-07-16     540
2019-07-17     932
2019-07-18    1740
2019-07-19     923
2019-07-22      36
2019-07-23     125
2019-07-24       4
2019-07-25      96
2019-07-26      41
2019-07-27     108
2019-07-28      49
2019-07-29      32
Name: amount, dtype: int64

In [13]:
# 일별 수익량
group_day_amount_positive.sum()

timestamp_year_month_day
2019-07-01    1108773831
2019-07-02     915498935
2019-07-03    1417565783
2019-07-04    1551516238
2019-07-05    1407713626
2019-07-06    1012389831
2019-07-07     602514736
2019-07-08     911372698
2019-07-09    2256193080
2019-07-10    2022544621
2019-07-11    1382400758
2019-07-12     316225848
2019-07-13    1081419473
2019-07-14     967526317
2019-07-16    1116130180
2019-07-17    2270719784
2019-07-18    2032222204
2019-07-19    2024416875
2019-07-22      92862092
2019-07-23     244916447
2019-07-24      11075760
2019-07-25     201660544
2019-07-26      69831222
2019-07-27     174108033
2019-07-28     101427150
2019-07-29      74969506
Name: amount, dtype: int64

In [14]:
## creating 'day - loss amount' connection
df3 = df.copy()
df3 = df3[df3['amount'] < 0]
group_day_amount_negative = df3['amount'].groupby(df3['timestamp_year_month_day'])

In [15]:
# 일별 손해 transaction 수
group_day_amount_negative.size()

timestamp_year_month_day
2019-07-01    216
2019-07-02    208
2019-07-03    617
2019-07-04    562
2019-07-05    450
2019-07-06    319
2019-07-07    202
2019-07-08    200
2019-07-09    629
2019-07-10    670
2019-07-11    506
2019-07-12    116
2019-07-13    369
2019-07-14    312
2019-07-16    275
2019-07-17    514
2019-07-18    543
2019-07-19    715
2019-07-21      1
2019-07-22    215
2019-07-23     72
2019-07-24      4
2019-07-25     96
2019-07-26     40
2019-07-27     42
2019-07-28     28
2019-07-29     24
Name: amount, dtype: int64

In [16]:
# 일별 손해량
group_day_amount_negative.sum()

timestamp_year_month_day
2019-07-01   -1102306803
2019-07-02    -917954654
2019-07-03   -1421154314
2019-07-04   -1562569387
2019-07-05   -1390574602
2019-07-06   -1030141909
2019-07-07    -606613452
2019-07-08    -888321665
2019-07-09   -2285628162
2019-07-10   -1993059343
2019-07-11   -1384183551
2019-07-12    -316237418
2019-07-13   -1106091722
2019-07-14    -943868585
2019-07-16   -1132965621
2019-07-17   -2255123303
2019-07-18   -2031574200
2019-07-19   -2025409145
2019-07-21        -12831
2019-07-22     -94915477
2019-07-23    -243199489
2019-07-24     -16888151
2019-07-25    -204547931
2019-07-26     -72103584
2019-07-27    -174419881
2019-07-28     -90126456
2019-07-29     -74594457
Name: amount, dtype: int64

In [17]:
# 일별 절대값 총합
absolute_negative_sum=group_day_amount_negative.sum()
absolute_negative_sum = absolute_negative_sum * (-1)
absolute_total_amout=absolute_negative_sum+group_day_amount_positive.sum()
absolute_total_amout

timestamp_year_month_day
2019-07-01    2.211081e+09
2019-07-02    1.833454e+09
2019-07-03    2.838720e+09
2019-07-04    3.114086e+09
2019-07-05    2.798288e+09
2019-07-06    2.042532e+09
2019-07-07    1.209128e+09
2019-07-08    1.799694e+09
2019-07-09    4.541821e+09
2019-07-10    4.015604e+09
2019-07-11    2.766584e+09
2019-07-12    6.324633e+08
2019-07-13    2.187511e+09
2019-07-14    1.911395e+09
2019-07-16    2.249096e+09
2019-07-17    4.525843e+09
2019-07-18    4.063796e+09
2019-07-19    4.049826e+09
2019-07-21             NaN
2019-07-22    1.877776e+08
2019-07-23    4.881159e+08
2019-07-24    2.796391e+07
2019-07-25    4.062085e+08
2019-07-26    1.419348e+08
2019-07-27    3.485279e+08
2019-07-28    1.915536e+08
2019-07-29    1.495640e+08
Name: amount, dtype: float64

In [18]:
## 일별 계산 table 생성
dfs = [group_day_amount.size(), group_day_amount.sum(), group_day_amount_positive.size(), group_day_amount_positive.sum(), group_day_amount_negative.size(), group_day_amount_negative.sum(), absolute_total_amout, absolute_negative_sum]
dfs

[timestamp_year_month_day
 2019-07-01     743
 2019-07-02     694
 2019-07-03    1205
 2019-07-04    1180
 2019-07-05    1060
 2019-07-06     676
 2019-07-07     463
 2019-07-08     475
 2019-07-09    1425
 2019-07-10    1476
 2019-07-11    1140
 2019-07-12     239
 2019-07-13     901
 2019-07-14     779
 2019-07-16     815
 2019-07-17    1446
 2019-07-18    2283
 2019-07-19    1639
 2019-07-21       1
 2019-07-22     251
 2019-07-23     197
 2019-07-24       8
 2019-07-25     192
 2019-07-26      81
 2019-07-27     150
 2019-07-28      77
 2019-07-29      56
 Name: amount, dtype: int64,
 timestamp_year_month_day
 2019-07-01     6467028
 2019-07-02    -2455719
 2019-07-03    -3588531
 2019-07-04   -11053149
 2019-07-05    17139024
 2019-07-06   -17752078
 2019-07-07    -4098716
 2019-07-08    23051033
 2019-07-09   -29435082
 2019-07-10    29485278
 2019-07-11    -1782793
 2019-07-12      -11570
 2019-07-13   -24672249
 2019-07-14    23657732
 2019-07-16   -16835441
 2019-07-17    15596481
 2019-07-18      648004
 2019-07-19     -992270
 2019-07-21      -12831
 2019-07-22    -2053385
 2019-07-23     1716958
 2019-07-24    -5812391
 2019-07-25    -2887387
 2019-07-26    -2272362
 2019-07-27     -311848
 2019-07-28    11300694
 2019-07-29      375049
 Name: amount, dtype: int64,
 timestamp_year_month_day
 2019-07-01     526
 2019-07-02     486
 2019-07-03     588
 2019-07-04     618
 2019-07-05     610
 2019-07-06     357
 2019-07-07     261
 2019-07-08     275
 2019-07-09     796
 2019-07-10     806
 2019-07-11     634
 2019-07-12     123
 2019-07-13     532
 2019-07-14     467
 2019-07-16     540
 2019-07-17     932
 2019-07-18    1740
 2019-07-19     923
 2019-07-22      36
 2019-07-23     125
 2019-07-24       4
 2019-07-25      96
 2019-07-26      41
 2019-07-27     108
 2019-07-28      49
 2019-07-29      32
 Name: amount, dtype: int64,
 timestamp_year_month_day
 2019-07-01    1108773831
 2019-07-02     915498935
 2019-07-03    1417565783
 2019-07-04    1551516238
 2019-07-05    1407713626
 2019-07-06    1012389831
 2019-07-07     602514736
 2019-07-08     911372698
 2019-07-09    2256193080
 2019-07-10    2022544621
 2019-07-11    1382400758
 2019-07-12     316225848
 2019-07-13    1081419473
 2019-07-14     967526317
 2019-07-16    1116130180
 2019-07-17    2270719784
 2019-07-18    2032222204
 2019-07-19    2024416875
 2019-07-22      92862092
 2019-07-23     244916447
 2019-07-24      11075760
 2019-07-25     201660544
 2019-07-26      69831222
 2019-07-27     174108033
 2019-07-28     101427150
 2019-07-29      74969506
 Name: amount, dtype: int64,
 timestamp_year_month_day
 2019-07-01    216
 2019-07-02    208
 2019-07-03    617
 2019-07-04    562
 2019-07-05    450
 2019-07-06    319
 2019-07-07    202
 2019-07-08    200
 2019-07-09    629
 2019-07-10    670
 2019-07-11    506
 2019-07-12    116
 2019-07-13    369
 2019-07-14    312
 2019-07-16    275
 2019-07-17    514
 2019-07-18    543
 2019-07-19    715
 2019-07-21      1
 2019-07-22    215
 2019-07-23     72
 2019-07-24      4
 2019-07-25     96
 2019-07-26     40
 2019-07-27     42
 2019-07-28     28
 2019-07-29     24
 Name: amount, dtype: int64,
 timestamp_year_month_day
 2019-07-01   -1102306803
 2019-07-02    -917954654
 2019-07-03   -1421154314
 2019-07-04   -1562569387
 2019-07-05   -1390574602
 2019-07-06   -1030141909
 2019-07-07    -606613452
 2019-07-08    -888321665
 2019-07-09   -2285628162
 2019-07-10   -1993059343
 2019-07-11   -1384183551
 2019-07-12    -316237418
 2019-07-13   -1106091722
 2019-07-14    -943868585
 2019-07-16   -1132965621
 2019-07-17   -2255123303
 2019-07-18   -2031574200
 2019-07-19   -2025409145
 2019-07-21        -12831
 2019-07-22     -94915477
 2019-07-23    -243199489
 2019-07-24     -16888151
 2019-07-25    -204547931
 2019-07-26     -72103584
 2019-07-27    -174419881
 2019-07-28     -90126456
 2019-07-29     -74594457
 Name: amount, dtype: int64,
 timestamp_year_month_day
 2019-07-01    2.211081e+09
 2019-07-02    1.833454e+09
 2019-07-03    2.838720e+09
 2019-07-04    3.114086e+09
 2019-07-05    2.798288e+09
 2019-07-06    2.042532e+09
 2019-07-07    1.209128e+09
 2019-07-08    1.799694e+09
 2019-07-09    4.541821e+09
 2019-07-10    4.015604e+09
 2019-07-11    2.766584e+09
 2019-07-12    6.324633e+08
 2019-07-13    2.187511e+09
 2019-07-14    1.911395e+09
 2019-07-16    2.249096e+09
 2019-07-17    4.525843e+09
 2019-07-18    4.063796e+09
 2019-07-19    4.049826e+09
 2019-07-21             NaN
 2019-07-22    1.877776e+08
 2019-07-23    4.881159e+08
 2019-07-24    2.796391e+07
 2019-07-25    4.062085e+08
 2019-07-26    1.419348e+08
 2019-07-27    3.485279e+08
 2019-07-28    1.915536e+08
 2019-07-29    1.495640e+08
 Name: amount, dtype: float64,
 timestamp_year_month_day
 2019-07-01    1102306803
 2019-07-02     917954654
 2019-07-03    1421154314
 2019-07-04    1562569387
 2019-07-05    1390574602
 2019-07-06    1030141909
 2019-07-07     606613452
 2019-07-08     888321665
 2019-07-09    2285628162
 2019-07-10    1993059343
 2019-07-11    1384183551
 2019-07-12     316237418
 2019-07-13    1106091722
 2019-07-14     943868585
 2019-07-16    1132965621
 2019-07-17    2255123303
 2019-07-18    2031574200
 2019-07-19    2025409145
 2019-07-21         12831
 2019-07-22      94915477
 2019-07-23     243199489
 2019-07-24      16888151
 2019-07-25     204547931
 2019-07-26      72103584
 2019-07-27     174419881
 2019-07-28      90126456
 2019-07-29      74594457
 Name: amount, dtype: int64]

In [19]:
day_df_final = reduce(lambda left,right: pd.merge(left,right,on='timestamp_year_month_day'), dfs)
day_df_final.columns = [ "daily transaction", "daily income", "daily Yield transaction", "daily Yield", "daily loss transaction", "daily loss", "daily absolute amount", "daily absolute negative amount"]
day_df_final

,daily transaction,daily income,daily Yield transaction,daily Yield,daily loss transaction,daily loss,daily absolute amount,daily absolute negative amount
timestamp_year_month_day,,,,,,,,
2019-07-01,743,6467028,526,1108773831,216,-1102306803,2.211081e+09,1102306803
2019-07-02,694,-2455719,486,915498935,208,-917954654,1.833454e+09,917954654
2019-07-03,1205,-3588531,588,1417565783,617,-1421154314,2.838720e+09,1421154314
2019-07-04,1180,-11053149,618,1551516238,562,-1562569387,3.114086e+09,1562569387
2019-07-05,1060,17139024,610,1407713626,450,-1390574602,2.798288e+09,1390574602
2019-07-06,676,-17752078,357,1012389831,319,-1030141909,2.042532e+09,1030141909
2019-07-07,463,-4098716,261,602514736,202,-606613452,1.209128e+09,606613452
2019-07-08,475,23051033,275,911372698,200,-888321665,1.799694e+09,888321665
2019-07-09,1425,-29435082,796,2256193080,629,-2285628162,4.541821e+09,2285628162
2019-07-10,1476,29485278,806,2022544621,670,-1993059343,4.015604e+09,1993059343
2019-07-11,1140,-1782793,634,1382400758,506,-1384183551,2.766584e+09,1384183551
2019-07-12,239,-11570,123,316225848,116,-316237418,6.324633e+08,316237418
2019-07-13,901,-24672249,532,1081419473,369,-1106091722,2.187511e+09,1106091722
2019-07-14,779,23657732,467,967526317,312,-943868585,1.911395e+09,943868585
2019-07-16,815,-16835441,540,1116130180,275,-1132965621,2.249096e+09,1132965621
2019-07-17,1446,15596481,932,2270719784,514,-2255123303,4.525843e+09,2255123303
2019-07-18,2283,648004,1740,2032222204,543,-2031574200,4.063796e+09,2031574200
2019-07-19,1639,-992270,923,2024416875,715,-2025409145,4.049826e+09,2025409145
2019-07-22,251,-2053385,36,92862092,215,-94915477,1.877776e+08,94915477
2019-07-23,197,1716958,125,244916447,72,-243199489,4.881159e+08,243199489
2019-07-24,8,-5812391,4,11075760,4,-16888151,2.796391e+07,16888151
2019-07-25,192,-2887387,96,201660544,96,-204547931,4.062085e+08,204547931
2019-07-26,81,-2272362,41,69831222,40,-72103584,1.419348e+08,72103584
2019-07-27,150,-311848,108,174108033,42,-174419881,3.485279e+08,174419881
2019-07-28,77,11300694,49,101427150,28,-90126456,1.915536e+08,90126456
2019-07-29,56,375049,32,74969506,24,-74594457,1.495640e+08,74594457

In [20]:
print(day_df_final.asfreq('D'))

                          daily transaction  daily income  \
timestamp_year_month_day
2019-07-01                            743.0     6467028.0
2019-07-02                            694.0    -2455719.0
2019-07-03                           1205.0    -3588531.0
2019-07-04                           1180.0   -11053149.0
2019-07-05                           1060.0    17139024.0
2019-07-06                            676.0   -17752078.0
2019-07-07                            463.0    -4098716.0
2019-07-08                            475.0    23051033.0
2019-07-09                           1425.0   -29435082.0
2019-07-10                           1476.0    29485278.0
2019-07-11                           1140.0    -1782793.0
2019-07-12                            239.0      -11570.0
2019-07-13                            901.0   -24672249.0
2019-07-14                            779.0    23657732.0
2019-07-15                              NaN           NaN
2019-07-16                            815.0   -16835441.0
2019-07-17                           1446.0    15596481.0
2019-07-18                           2283.0      648004.0
2019-07-19                           1639.0     -992270.0
2019-07-20                              NaN           NaN
2019-07-21                              NaN           NaN
2019-07-22                            251.0    -2053385.0
2019-07-23                            197.0     1716958.0
2019-07-24                              8.0    -5812391.0
2019-07-25                            192.0    -2887387.0
2019-07-26                             81.0    -2272362.0
2019-07-27                            150.0     -311848.0
2019-07-28                             77.0    11300694.0
2019-07-29                             56.0      375049.0

                          daily Yield transaction   daily Yield  \
timestamp_year_month_day
2019-07-01                                  526.0  1.108774e+09
2019-07-02                                  486.0  9.154989e+08
2019-07-03                                  588.0  1.417566e+09
2019-07-04                                  618.0  1.551516e+09
2019-07-05                                  610.0  1.407714e+09
2019-07-06                                  357.0  1.012390e+09
2019-07-07                                  261.0  6.025147e+08
2019-07-08                                  275.0  9.113727e+08
2019-07-09                                  796.0  2.256193e+09
2019-07-10                                  806.0  2.022545e+09
2019-07-11                                  634.0  1.382401e+09
2019-07-12                                  123.0  3.162258e+08
2019-07-13                                  532.0  1.081419e+09
2019-07-14                                  467.0  9.675263e+08
2019-07-15                                    NaN           NaN
2019-07-16                                  540.0  1.116130e+09
2019-07-17                                  932.0  2.270720e+09
2019-07-18                                 1740.0  2.032222e+09
2019-07-19                                  923.0  2.024417e+09
2019-07-20                                    NaN           NaN
2019-07-21                                    NaN           NaN
2019-07-22                                   36.0  9.286209e+07
2019-07-23                                  125.0  2.449164e+08
2019-07-24                                    4.0  1.107576e+07
2019-07-25                                   96.0  2.016605e+08
2019-07-26                                   41.0  6.983122e+07
2019-07-27                                  108.0  1.741080e+08
2019-07-28                                   49.0  1.014272e+08
2019-07-29                                   32.0  7.496951e+07

                          daily loss transaction    daily loss  \
timestamp_year_month_day
2019-07-01                                 216.0 -1.102307e+09
2019-07-02                                 208.0 -9.179547e+08
2019-07-03                                 617.0 -1.421154e+09
2019-07-04                                 562.0 -1.562569e+09
2019-07-05                                 450.0 -1.390575e+09
2019-07-06                                 319.0 -1.030142e+09
2019-07-07                                 202.0 -6.066135e+08
2019-07-08                                 200.0 -8.883217e+08
2019-07-09                                 629.0 -2.285628e+09
2019-07-10                                 670.0 -1.993059e+09
2019-07-11                                 506.0 -1.384184e+09
2019-07-12                                 116.0 -3.162374e+08
2019-07-13                                 369.0 -1.106092e+09
2019-07-14                                 312.0 -9.438686e+08
2019-07-15                                   NaN           NaN
2019-07-16                                 275.0 -1.132966e+09
2019-07-17                                 514.0 -2.255123e+09
2019-07-18                                 543.0 -2.031574e+09
2019-07-19                                 715.0 -2.025409e+09
2019-07-20                                   NaN           NaN
2019-07-21                                   NaN           NaN
2019-07-22                                 215.0 -9.491548e+07
2019-07-23                                  72.0 -2.431995e+08
2019-07-24                                   4.0 -1.688815e+07
2019-07-25                                  96.0 -2.045479e+08
2019-07-26                                  40.0 -7.210358e+07
2019-07-27                                  42.0 -1.744199e+08
2019-07-28                                  28.0 -9.012646e+07
2019-07-29                                  24.0 -7.459446e+07

                          daily absolute amount  \
timestamp_year_month_day
2019-07-01                         2.211081e+09
2019-07-02                         1.833454e+09
2019-07-03                         2.838720e+09
2019-07-04                         3.114086e+09
2019-07-05                         2.798288e+09
2019-07-06                         2.042532e+09
2019-07-07                         1.209128e+09
2019-07-08                         1.799694e+09
2019-07-09                         4.541821e+09
2019-07-10                         4.015604e+09
2019-07-11                         2.766584e+09
2019-07-12                         6.324633e+08
2019-07-13                         2.187511e+09
2019-07-14                         1.911395e+09
2019-07-15                                  NaN
2019-07-16                         2.249096e+09
2019-07-17                         4.525843e+09
2019-07-18                         4.063796e+09
2019-07-19                         4.049826e+09
2019-07-20                                  NaN
2019-07-21                                  NaN
2019-07-22                         1.877776e+08
2019-07-23                         4.881159e+08
2019-07-24                         2.796391e+07
2019-07-25                         4.062085e+08
2019-07-26                         1.419348e+08
2019-07-27                         3.485279e+08
2019-07-28                         1.915536e+08
2019-07-29                         1.495640e+08

                          daily absolute negative amount
timestamp_year_month_day
2019-07-01                                  1.102307e+09
2019-07-02                                  9.179547e+08
2019-07-03                                  1.421154e+09
2019-07-04                                  1.562569e+09
2019-07-05                                  1.390575e+09
2019-07-06                                  1.030142e+09
2019-07-07                                  6.066135e+08
2019-07-08                                  8.883217e+08
2019-07-09                                  2.285628e+09
2019-07-10                                  1.993059e+09
2019-07-11                                  1.384184e+09
2019-07-12                                  3.162374e+08
2019-07-13                                  1.106092e+09
2019-07-14                                  9.438686e+08
2019-07-15                                           NaN
2019-07-16                                  1.132966e+09
2019-07-17                                  2.255123e+09
2019-07-18                                  2.031574e+09
2019-07-19                                  2.025409e+09
2019-07-20                                           NaN
2019-07-21                                           NaN
2019-07-22                                  9.491548e+07
2019-07-23                                  2.431995e+08
2019-07-24                                  1.688815e+07
2019-07-25                                  2.045479e+08
2019-07-26                                  7.210358e+07
2019-07-27                                  1.744199e+08
2019-07-28                                  9.012646e+07
2019-07-29                                  7.459446e+07

In [21]:
day_df_final.to_csv("/Users/hamin/bithumb_bot_data/upbit-2019-07-daily_result_table.csv", header=True, index=True, encoding = 'utf-8')

In [22]:
# 뒤집기.
day_df_final[::-1].to_csv("/Users/hamin/bithumb_bot_data/upbit-2019-07-daily_result_table.csv", header=True, index=True, encoding = 'utf-8')

In [23]:
day_df_final

,daily transaction,daily income,daily Yield transaction,daily Yield,daily loss transaction,daily loss,daily absolute amount,daily absolute negative amount
timestamp_year_month_day,,,,,,,,
2018-01-19,40,1052348,21,1334332,19,-281984,1616316.0,281984
2018-01-20,153,426,76,1239191,77,-1238765,2477956.0,1238765
2018-01-21,154,-1741,76,1201705,78,-1203446,2405151.0,1203446
2018-01-22,69,-14922,34,480676,35,-495598,976274.0,495598
2018-01-23,96,899,48,633072,48,-632173,1265245.0,632173
2018-01-24,86,-1680,42,565300,44,-566980,1132280.0,566980
2018-01-25,217,11247,109,1442316,108,-1431069,2873385.0,1431069
2018-01-31,4,-86,2,22176,2,-22262,44438.0,22262